{% extends 'car_type.html' %}

{% block title %}SUVs{% endblock %}

{% block header %}
    <h1 class="car-type-header">Conquer Any Terrain: The Best SUVs of 2025</h1>
{% endblock %}

{% block main %}{% endblock %}

{% block nav_extra %}{% endblock %}

{% block content %}
<div>
    <div class="car-type-content">
        <p>SUVs are fantastic vehicles that combine style, comfort, and versatility, making them perfect 
            for families and adventurers alike. Their higher ground clearance and robust build provide excellent 
            safety on the road, giving drivers a confident feel in various driving conditions. With advanced 
            safety features and spacious interiors, SUVs offer both peace of mind and plenty of room for 
            passengers and cargo, making them a reliable and practical choice for many.</p>
    </div>
    <div class="car-type-content2">
        <p>Here is a list of SUVs that could be a perfect fit for you!</p>
    </div>
    <div class="car-info-pic">
        <ul>
            {% for key, value in vehicle4.items() %}
            <li>{{ key|capitalize }}: {{ value }}</li>
            {% endfor %}
        </ul>
        <div id="image_carousel_container">
            {% for img in images.rr %}
                <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
            {% endfor %}
        </div>
    </div>
    <div class="controls2">
        <button class="next2"><</button>
        <button class="previous2">></button>
    </div>
    <div class="car-info-pic">
        <ul>
            {% for key, value in vehicle5.items() %}
            <li>{{ key|capitalize }}: {{ value }}</li>
            {% endfor %}
        </ul>
        <div id="image_carousel_container">
            {% for img in images.toya %}
                <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
            {% endfor %}
        </div>
    </div>
    <div class="controls2">
        <button class="next2"><</button>
        <button class="previous2">></button>
    </div>
    <div class="car-info-pic">
        <ul>
            {% for key, value in vehicle6.items() %}
            <li>{{ key|capitalize }}: {{ value }}</li>
            {% endfor %}
        </ul>
        <div id="image_carousel_container">
            {% for img in images.jeep %}
                <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
            {% endfor %}
        </div>
    </div>
    <div class="controls2">
        <button class="next2"><</button>
        <button class="previous2">></button>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer>{{ super() }}</footer>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}