{% extends 'index.html' %}

<title>{% block title %}Login Page{% endblock %}</title>

{% block header %}
    <div class="account-container">
        <h1 class="account-header">Login To The Site</h1>
{% endblock %}

{% block main %}{% endblock %}

{% block content %}
        <div class="account-content">
            <p>To gain access to the site please login below</p>
            <form actions='/login' method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button class="logging-button" type="submit">Login</button>
            </form>
            <div class="additional-links">
                <a href="#">Forgot Password?</a>
                <a href="{{ url_for('signup') }}">Create Account</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}