{% extends 'car_type.html' %}

{% block title %}Supercars{% endblock %}

{% block header %}
    <h1 class="car-type-header">Beyond Limits: The World’s Finest Supercars</h1>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block main %}{% endblock %}

{% block nav_extra %}{% endblock %}

{% block content %}
<div>
    <div class="car-type-content">
        <p>Supercars are the ultimate expression of speed and style, built to deliver an exhilarating 
            driving experience. With their powerful engines and sleek designs, they offer a thrilling 
            rush like no other, making every twist and turn on the road feel like an adrenaline-packed adventure. 
            The roar of the engine and the lightning-fast acceleration make driving a supercar pure excitement, perfect for those 
            who crave the thrill of speed and precision.</p>
    </div>
    <div class="car-type-content2">
        <p>If you love speed and style, you’ve got to check out supercars—they’re pure adrenaline on wheels!</p>
    </div>    
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[6].title }}</h2>
                <p>{{ all_info[6].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle7.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.ferr %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[7].title }}</h2>
                <p>{{ all_info[7].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle8.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.ast %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[8].title }}</h2>
                <p>{{ all_info[8].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle9.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.mc %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer>{{ super() }}</footer>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}