{% extends 'car_type.html' %}

{% block title %}EVs{% endblock %}

{% block header %}
    <h1 class="car-type-header">Zero Emissions, Maximum Thrills: Top EVs of 2025</h1>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block main %}{% endblock %}

{% block nav_extra %}{% endblock %}

{% block content %}
<div>
    <div class="car-type-content">
        <p>Electric cars are an excellent choice for the environment, producing zero emissions and helping reduce pollution. 
            They also deliver impressive speed with instant torque, making acceleration smooth and exciting. Plus, electric cars 
            offer a quiet and comfortable ride, combining eco-friendliness with modern performance and luxury.</p>
    </div>
    <div class="car-type-content2">       
        <p>Here are some popular electric cars that combine innovation, performance, and sustainability.</p>
    </div> 
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[9].title }}</h2>
                <p>{{ all_info[9].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle10.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.tes %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[10].title }}</h2>
                <p>{{ all_info[10].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle11.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.bmw %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[11].title }}</h2>
                <p>{{ all_info[11].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle12.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.ren %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer>{{ super() }}</footer>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}