{% extends 'car_type.html' %}

{% block title %}Hatchbacks{% endblock %}

{% block header %}
    <h1 class="car-type-header">Compact & Cool: The Best in Hatchbacks</h1>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block main %}{% endblock %}

{% block nav_extra %}{% endblock %}

{% block content %}
<div>
    <div class="car-type-content">
        <p>Compact, versatile, and full of personality—hatchbacks are the perfect blend of practicality and fun. 
            Whether you're navigating city streets, looking for great fuel efficiency, or simply love a sporty yet practical ride, hatchbacks deliver on all fronts. 
            Here, we explore the best models, latest trends, and why these nimble cars continue to win hearts worldwide. 
            Buckle up and discover your perfect hatchback match!</p>
    </div>
    <div class="car-type-content2">
        <p>Here is a list of Hatchbacks that could be your next one!</p>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[0].title }}</h2>
                <p>{{ all_info[0].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle1.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.skoda %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[1].title }}</h2>
                <p>{{ all_info[1].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle2.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.vw %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
    <div class="car-info-pic">
        <div class="car-info-details">
            <div class="car-type-title">
                <h2>{{ all_info[2].title }}</h2>
                <p>{{ all_info[2].description }}</p>
            </div>
            <ul>
                {% for key, value in car_vars.vehicle3.items() %}
                <li>{{ key|capitalize }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-wrapper">
            <div id="image_carousel_container">
                <div class="carousel-track">
                    {% for img in images.audi %}
                        <img class="carousel_image" src="{{ url_for('static', filename=img) }}">
                    {% endfor %}
                </div>
            </div>
            <div class="controls2">
                <button class="previous2">Previous</button>
                <button class="next2">Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer>{{ super() }}</footer>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}
