{% extends 'index.html' %}

<title>{% block title %}Reset Your Password{% endblock %}</title>

{% block header %}
    <div class="account-container">
        <h1 class="account-header">Change Password</h1>
{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}{% endblock %}

{% block content %}
        <div class="account-content">
            <p>To reset your password please enter your email below</p>
            <form action="{{ url_for('main.reset_token', token=token) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control", id="password") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control", id="confirm_password") }}
                </div>
                <button class="logging-button" type="submit">
                    {{ form.submit.label.text }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}