{% extends 'index.html' %}

<title>{% block title %}Password Reset Form{% endblock %}</title>

{% block header %}
    <div class="account-container">
        <h1 class="account-header">Reset Password Form</h1>
{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}{% endblock %}

{% block content %}
        <div class="account-content">
            <p>To reset your password please enter your email below</p>
            <form action="{{ url_for('main.reset_password') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control", id="email") }}
                </div>
                <button class="logging-button" type="submit">
                    {{ form.submit.label.text }}
                </button>
            </form>
            <div class="additional-links">
                <a href="{{ url_for('main.login') }}">Back to login</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}